<h1>Iterator Pattern</h1>
The iterator pattern allows you to traverse a collection sequentially without exposing the underlying code.

<h2>Numbers</h2>
<p>Current number: {{ currentNumber }}</p>
<p>Next number: {{ nextNumber }}</p>
<button (click)="rewindNumbers()">rewind</button><button (click)="moveNextNumber()">next</button>

<h2>Words</h2>
<p>Current word: {{ currentWord }}</p>
<p>Next word: {{ nextWord }}</p>
<button (click)="rewindWords()">rewind</button><button (click)="moveNextWord()">next</button>
